{% extends "master.html" %} {% block content %} 
{% with firstname="Tobias" %}
<h1>Hello {{ firstname }}, how are you?</h1>
{% endwith %}
<ul>
  {% for x in mymembers %}
  <li>{{ x.firstname }}</li>
  {% endfor %}
</ul>
<ul>
  {% for x in fruits %}
    <li>{{ x }}</li>
  {% endfor %}
</ul>

{% comment "loop with key and value" %}
{% endcomment %}
{% for key, value in mycar.items %}
  <p>The {{ key }} is {{ value }}.</p>
{% endfor %}

{% comment "elif" %}

{% endcomment %}

{% if greeting == 1 %}
  <h1>Hello</h1>
{% elif greeting == 2 %}
  <h1>Welcome</h1>
{% else %}
  <h1>Goodbye</h1>
{% endif %} 

{% if greeting == 2 %}
  <h1>Hello</h1>
{% endif %} 

{% comment "and" %}

{% endcomment %}

{% if greeting == 1 and day == "Friday" %}
  <h1>Hello Weekend!</h1>
{% endif %}

{% comment "not in" %}
{% endcomment %}
{% if 'Banana' not in fruits %}
  <h1>Hello</h1>
{% else %}
  <h1>Goodbye</h1>
{% endif %} 

{% comment "is" %}
{% endcomment %}
{% if x is y %}
  <h1>YES</h1>
{% else %}
  <h1>NO</h1>
{% endif %}

{% comment "with" %}
{% endcomment %}
{% with var1=x var2=x %}
  {% if var1 is var2 %}
    <h1>YES</h1>
  {% else %}
    <h1>NO</h1>
  {% endif %}
{% endwith %}


{% for x in members %}
  <h1>{{ x.id }}</h1>
  <p>
    {{ x.firstname }}
    {{ x.lastname }}
  </p>
{% endfor %} 

{% endblock %}

